<!DOCTYPE html>
<html>

<head>
  <title>Brackets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="dist/img/icons/favicon.ico" rel="icon" type="image/x-icon"/>
  <link rel="apple-touch-icon" sizes="180x180" href="dist/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="dist/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="dist/img/icons/favicon-16x16.png">
  <link rel="manifest" href="dist/img/icons/site.webmanifest">
  <link rel="mask-icon" href="dist/img/icons/safari-pinned-tab.svg" color="#494949">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="dist/img/icons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="{{url_for('static', filename='js/ladder/vendor.js')}}"></script>
  <script src="{{url_for('static', filename='js/ladder/custom.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/ladder/app.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/ladder/custom.css')}}">
  <script src="{{url_for('static', filename='js/socket.io.js')}}"></script>

  <style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
h1 {
  color: #FFD700;
}

::before {
    color: rgb(255, 238, 0); /* Example of styling: changing the text color */
    font-weight: bold; /* More styling: making the text bold */
}

body {
    
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Adjust this line */
    min-height: 100vh; /* Add this line */
    margin: 0;
    padding: 50px 0; /* Add this line */
    position: relative;
}

.container {
    background-color: rgb(0 0 0 / 58%);
    padding: 20px;
    border: 2px solid #FFD700;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Increase the max-width */
    margin: 0 auto;
    width: 100%;
}

.turnament-bracket {
    overflow-x: auto; /* Add this line */
}
</style>

  <script type="text/javascript">

    //Connecting to websocket
    const urlParams = new URLSearchParams(window.location.search);
    const socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        console.log('Connected to the server');

        socket.emit('join', { username: 'John', room: 'room1' });
    });

    socket.on('response', function(dataString) {
      location.reload()
            
        });
    const event_filter = urlParams.get('event_filter');
    $(function () {
      var demos = ['doubleElimination']
      $.each(demos, function (i, d) {
        var demo = $('div#' + d)
        $('<div class="demo animated slow"></div>').appendTo(demo)
      })
    })

  </script>


</head>

<body class="render">
  <div class="container">
  <div id="main_title">
    
  </div>
  <div class="turnament-bracket">
  <div id="doubleElimination" class="graph-block"></div>
</div>
</div>

<script type="text/javascript">
  const useWebSocket = urlParams.get('websocket')?.toLowerCase() === 'true';

  function saveFn(data, userData) {
    var json = jQuery.toJSON(data)
    $('#saveOutput').text(JSON.stringify(data, null, 2))
  }

  function edit_fn(container, data, place, time, doneCb) {
    var input = $('<input type="text">')
    input.val(data ? data.flag + ':' + data.name : '')
    container.html(input)
    input.focus()
    input.blur(function () {
      var inputValue = input.val()
      if (inputValue.length === 0) {
        doneCb(null); // Drop the team and replace with BYE
      } else {
        var flagAndName = inputValue.split(':') // Expects correct input
        doneCb({flag: flagAndName[0], name: flagAndName[1]})
      }
    })
  }

  function render_fn(container, data, score, state) {
    switch (state) {
      case "empty-bye":
        container.append("No team")
        return;
      case "empty-tbd":
        container.append("Upcoming")
        return;

      case "entry-no-score":
      case "entry-default-win":
      case "entry-complete":
        container.append(data.name).append();
        return;
    }
  }

  function driver_order_setting(timedata) {
    var driver_order_object = {}; // Changed to an object

    for (const key in timedata) {
        if (timedata.hasOwnProperty(key)) {
            const dataArray = timedata[key];
            dataArray.forEach(entry => {
                if (!driver_order_object.hasOwnProperty(key)) {
                    driver_order_object[key] = []; // Initialize an array for this key
                }
                driver_order_object[key].push(entry); // Push to the correct object key
            });
        }
    }
    return driver_order_object
}

  function transformData(originalData) {
    let teams = [];
    let results = [];
    let driver_pair_order = driver_order_setting(originalData.Timedata)
    let exit_loop = false
    let skip_entry = false
    let finale = []
    let semi_finale = []

    var heat_count = Math.ceil(Math.log2(originalData.Timedata["1"].length));

    // Check if the required data exists and is in the correct format
    if (originalData && originalData.Timedata && Array.isArray(originalData.Timedata["1"])) {
        document.getElementById('main_title').innerHTML = "<h1 id=main_title_title>" + originalData["event_data"][0] + "</h1>";
        for (let i = 0; i < originalData.Timedata["1"].length; i += 2) {

            if (i + 1 < originalData.Timedata["1"].length) {
                // Create a pair with the current and next team
                let pair = [
                    { "name": originalData.Timedata["1"][i][1] + " " + originalData.Timedata["1"][i][2], "flag": "no" },
                    { "name": originalData.Timedata["1"][i + 1][1] + " " + originalData.Timedata["1"][i + 1][2], "flag": "no" }
                ];
                teams.push(pair);
            } else {
                // If there's no pair (odd number of teams), add the last team alone
                let single = { "name": originalData.Timedata["1"][i][1], "flag": "no" };
                teams.push([single]);
            }
        }
    } else {
        console.error('Data is not available or in an unexpected format');
    }
    const isEven = num => num % 2 === 0;
    full_loc_array = []
    count = 0
    console.log(driver_pair_order)



    for (let key in originalData.Timedata) {
        med_loc_array = []
        if (originalData.Timedata.hasOwnProperty(key)) {
            
            let dataArray = originalData.Timedata[key];
            console.log(key)
            if (key == 1) { 
              num = key
            } else {
              num = (key - 1)
            }

            for (let driver_o in driver_pair_order[num]) {
              
              for (let i = 0; i < dataArray.length; i += 1) {


                    if (typeof new_loc_array == 'undefined') {
                          new_loc_array = []
                        }
                    console.log(heat_count, key)
                    
                    if (heat_count == key) {
                      let finale_pair = []
                      let semi_finale_pair = []

                      let tmp_finale_pair = []
                      let tmp_semi_finale = []


                      count += 1
                      console.log(driver_pair_order[(key -1)])
                      let tmp_key = (key -1)
                      if (driver_pair_order[(tmp_key)][0][7] > driver_pair_order[(tmp_key)][1][7] && driver_pair_order[(tmp_key)][1][6] == 0) {
                        tmp_semi_finale.push(driver_pair_order[(tmp_key)][0])
                        tmp_finale_pair.push(driver_pair_order[(tmp_key)][1])
                      } else {
                        tmp_semi_finale.push(driver_pair_order[(tmp_key)][1])
                        tmp_finale_pair.push(driver_pair_order[(tmp_key)][0])
                      }

                      if (driver_pair_order[(tmp_key)][2][7] > driver_pair_order[(tmp_key)][3][7] && driver_pair_order[(tmp_key)][3][6] == 0) {
                        tmp_semi_finale.push(driver_pair_order[(tmp_key)][2])
                        tmp_finale_pair.push(driver_pair_order[(tmp_key)][3])
                      } else {
                        tmp_semi_finale.push(driver_pair_order[(tmp_key)][3])
                        tmp_finale_pair.push(driver_pair_order[(tmp_key)][2])
                      }

                      for (let b in driver_pair_order[(tmp_key)]) {

                        for (let g in tmp_finale_pair) {
                          if (tmp_finale_pair[g][7] == driver_pair_order[(tmp_key)][b][7]) {
                            for (let h in driver_pair_order[(key)]) {
                              if (driver_pair_order[key][h][0] == tmp_finale_pair[g][0]) {
                                if (driver_pair_order[key][h][6] == 1) {
                                  finale_pair.push(11111111)
                                } else if (driver_pair_order[key][h][6] == 2) {
                                  finale_pair.push(22222222)
                                } else if (driver_pair_order[key][h][6] == 3) {
                                  finale_pair.push(33333333)
                                } else {
                                  finale_pair.push(driver_pair_order[key][h][7])
                                }
                              }
                            }
                          }
                        }

                        for (let g in tmp_semi_finale) {
                          if (tmp_semi_finale[g][7] == driver_pair_order[(tmp_key)][b][7]) {
                            for (let h in driver_pair_order[(key)]) {
                              if (driver_pair_order[key][h][0] == tmp_semi_finale[g][0]) {
                                if (driver_pair_order[key][h][6] == 1) {
                                  semi_finale_pair.push(11111111)
                                } else if (driver_pair_order[key][h][6] == 2) {
                                  semi_finale_pair.push(22222222)
                                } else if (driver_pair_order[key][h][6] == 3) {
                                  semi_finale_pair.push(33333333)
                                } else {
                                  semi_finale_pair.push(driver_pair_order[key][h][7])
                                }
                                
                              }
                            }
                          }
                        }
                    }
                    

                    med_loc_array.push(finale_pair)
                    med_loc_array.push(semi_finale_pair)
                    
                      exit_loop = true;
                      break

                    } else if (driver_pair_order[num][driver_o][0] == dataArray[i][0] && heat_count != key) {
                        count += 1

                        if (dataArray[i][6] == 1) {
                          entry = 11111111
                        } else if (dataArray[i][6] == 2) {
                          entry = 22222222

                        } else if (dataArray[i][6] == 3)
                          entry = 33333333

                        else {
                          entry = dataArray[i][7]
                          }
                        new_loc_array.push(entry)

                        if (count == 2) {
                          count = 0
                          
                          med_loc_array.push(new_loc_array)
                          new_loc_array = []
                          break;
                        }
               } 
          }
          if (exit_loop == true) {break}
      }
        }
        full_loc_array.push(med_loc_array)
    }
    results = full_loc_array
    data = {teams, results}
    return data

}


  $(function () {
    console.log(event_filter)
    if (event_filter) {
       url = "/api/get_specific_event_data?event_filter=" + event_filter
    } else {
       url = "/api/get_specific_event_data"
    }

    $.getJSON(url, function (data) {
      new_data = transformData(data)

      drivers_num = new_data["teams"].length * 2
      if (drivers_num == 2) {
        teamWidth = 300
        scoreWidth = 60
        matchMargin = 100
        roundMargin = 100
      } else if (drivers_num == 4) {
        teamWidth = 300
        scoreWidth = 60
        matchMargin = 100
        roundMargin = 100
        $('div#doubleElimination .demo').css('padding-left', 30 + '%');

      } else if (drivers_num == 8) {
        teamWidth = 300
        scoreWidth = 60
        matchMargin = 100
        roundMargin = 100
        $('div#doubleElimination .demo').css('padding-left', 15 + '%');

      } else if (drivers_num == 16) {
        teamWidth = 220
        scoreWidth = 60
        matchMargin = 30
        roundMargin = 80
        $('div#doubleElimination .demo').css('padding-left', 10 + '%');

      } else if (drivers_num == 32) {
        teamWidth = 250
        scoreWidth = 60
        matchMargin = 15
        roundMargin = 80
        document.getElementById('main_title_title').style.marginBottom = '4px';
        document.getElementById('main_title_title').style.marginTop = '4px';
        var elements = document.querySelectorAll('body.render .turnament-bracket');
        elements.forEach(function(element) {
            element.style.padding = '5px';
        }); 

      } 


      window.br = $('div#doubleElimination .demo').bracket({
        dir: 'lr',
        teamWidth: teamWidth,
        scoreWidth: scoreWidth,
        matchMargin: matchMargin,
        roundMargin: roundMargin,
        centerConnectors: true,
        init: new_data,
        // save: function () {
        // }, /* without save() labels are disabled */
        decorator: {
          edit: edit_fn,
          render: render_fn
        }

      });
    });
  })

</script>

</body>

</html>